.destination-hub-container {
  display: flex;
  flex-direction: column;
}

.destination-hub-container .top-part {
  position: fixed;
  top: 70px;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eee8e8;
  padding: 15px;
  font-weight: bold;
}

.destination-hub-container .top-part .top-part-anyhub {
  color: #0000ff;
}

.destination-hub-container .destination-hub-body {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 10px;
}

.destination-hub-container .hub-item-wrapper {
  display: flex;
  padding: 10px;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
  flex: 1;
  border: 1px solid #becced;
  border-radius: 6px;
}

.destination-hub-container .hub-item-wrapper .hub-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 1.1rem;
  font-weight: 600;
}

.destination-hub-container
  .hub-item-wrapper
  .hub-item-header
  .hub-item-header-group {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.destination-hub-container .hub-item-wrapper .hub-item-info {
  color: #999;
}

.destination-hub-container .hub-item-wrapper .hub-item-bottom {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
}

.destination-hub-container .hub-item-wrapper .hub-item-bottom.seller-suggestion {
  justify-content: space-between;
}

.destination-hub-container .hub-item-wrapper .hub-item-bottom.seller-suggestion .distance {
  color: #cf1d1d;
  font-weight: 500;
}

.destination-hub-container
  .hub-item-wrapper
  .hub-item-bottom
  .hub-item-bottom-icon {
  width: 25px;
  height: 25px;
}

.destination-hub-container .hub-item-wrapper .hub-item-bottom .total-rts {
  display: flex;
  gap: 6px;
}

.destination-hub-container .hub-item-wrapper .hub-item-bottom .total-rts img {
  width: 25px;
}

.destination-hub-container .hub-item-wrapper .hub-item-bottom .total-rts .nb {
  font-weight: 600;
}

.destination-hub-container .destination-hub-actions {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  padding: 20px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.destination-hub-container .destination-hub-actions .btn-large {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.dialog-container {
  padding: 16px;
}
.destination-hub-dialog-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 6px;
}

.destination-hub-dialog-container .input-box {
  border: 1px solid #999;
  padding: 2px 10px;
}
