.pickup-page {
	padding-bottom: 88px;
	.bottom-action {
		position: fixed;
	    bottom: 0;
	    left: 0;
	    width: 100%;
	    display: flex;
	    justify-content: space-around;
	    background: white;
	    padding: 18px 0px 31px;
	    border-top: 1px solid #dddddd;
	}
}
.seller-item {
	background: white;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 10px;
    .header {
    	display: flex;
	    justify-content: space-between;
	    margin-bottom: 13px;
	    .name {
	    	font-weight: bold;
	    }
    }

    .info {
    	border: 1px solid #becced;
	    border-radius: 6px;
	    padding: 10px;
	    font-size: 14px;
	    display: flex;
	    .title {
	    	font-weight: 600;
	    }
	    .text {
	    	margin-bottom: 10px;
	    }

	  	.action {
  		    width: 105px;
		    display: flex;
		    flex-direction: column;
		    justify-content: space-between;
		    align-items: flex-end;
	  	}
    }
    .total_rts {
	    display: flex;
	    img {
	    	width: 20px;
    		margin-right: 8px;
	    }
	    span {
	    	font-weight: bold;
	    }
    }
}