.eptc {
  text-align: center;
  position: absolute;
  top: 0px;
  width: calc(100% - 30px);
  height: 100%;
  img {
    position: relative;
    top: calc(50% - 170px);
    opacity: 0.3;
    height: 250px;
    padding-right: 16px;
  }
}