.bean-toolbar .back-btn .back-button__icon {
  fill: #20d994;
}

.select-destionation-page-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-destionation-page-header .ion-md-navigate,
.ion-md-list {
  position: absolute;
  right: 15px;
}

.ion-md-locate {
  position: absolute;
  right: 45px;
}

.select-destination-hub-container {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.select-destination-hub-container .search-box {
  background-color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.select-destination-hub-container .search-box .search-input {
  background-color: #fff;
}

.select-destination-hub-container .search-box .search-input input {
  transform: translate(10px, -15px);
}

.select-destination-hub-container .top-part {
  display: flex;
  justify-content: space-between;
  background-color: #eee8e8;
  padding: 15px;
  font-weight: bold;
}

.select-destination-hub-container .destination-hub-body {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 10px;
  margin-bottom: 100px;
}

.select-destination-hub-container .hub-item-wrapper {
  display: flex;
  padding: 10px;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
  flex: 1;
  border: 1px solid #becced;
  border-radius: 6px;
}

.select-destination-hub-container .hub-item-wrapper .hub-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 1.1rem;
  font-weight: 600;
}

.select-destination-hub-container
  .hub-item-wrapper
  .hub-item-header
  .hub-item-header-group {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.select-destination-hub-container .hub-item-wrapper .hub-item-info {
  color: #999;
}

.select-destination-hub-container .hub-item-wrapper .hub-item-bottom {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
}

.select-destination-hub-container .destination-hub-actions {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  padding: 20px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.select-destination-hub-container .destination-hub-actions .btn-large {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.facebook::before {
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  content: "\f09a";
}
