.fr {
	float: right;
}

.fl {
	float: left;
}

.w-100 {
	width: 100%;
}

.h-100 {
	height: 100%;
}

.h0 {
	height: 0 !important;
}

.hd {
	visibility: hidden;
}

.thd {
	display: none;
}

.tac {
	text-align: center;
}

.bgw {
	background: white;
	border-radius: 4px;
}