@import "variables.scss";
@import "helper.scss";

* {
  font-family: 'Quicksand', sans-serif;
}

.bean-font {
    font-family: 'Quicksand', sans-serif;
}

.page__background {
    background-color: $background-color;
}

.page-content.white {
  background: white;
}

.back-button {
    left: 0;
    top: -4px;
    padding-left: $toolbar-padding;
    font-size: 46px;
}
.bbtn {
    position: absolute;
    color: #404040;
    padding-top: 10px;
    opacity: 1 !important;
}

.bean-toolbar {
    height: $toolbar-height;
    background-image: none;
    background-color: white;

    .bean-title {
        text-align: center;
        padding-left: $toolbar-padding;
        padding-right: $toolbar-padding;
        line-height: $toolbar-height;
    }

    .toolbar-button {
        position: absolute;
        color: $green;
        line-height: $toolbar-height;
    }

    .action-button {
        right: 0;
        top: -4px;
        padding-right: $toolbar-padding;
        font-size: 28px;
    }

    .bgac-button {
        right: 0;
        top: -5px;
        padding-right: 17px;
        font-size: 33px;
    }

    &.toolbar+.page__background+.page__content, &.toolbar+.page__background {
        top: $toolbar-height;
    }
}

.bean-tabbar .tabbar {
    background-color: white;
    background-image: none;
    height: 83px;
    padding-top: 6px;
}

.bean-tabbar .tabbar :checked + .tabbar__button {
  color: #20d994;
}

.bean-tabbar .tabbar__icon + .tabbar__label {
    font-size: 14px;
    font-weight: 700;
    margin-top: 4px;
}

.bean-tabbar .tabbar__content {
    bottom: 90px;
}

.bean-page .toolbar+.page__background+.page__content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
}

.bean-title {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 23px;
    color: $green-dark;
}

.home-page {
    .bean-card {
        padding-top: 30px;
    }
}

.bean-card {
    border-radius: 4px;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.09);
    text-align: center;
}

.bean-card .home-icon-item {
    width: 80px;
    height: 80px;
}

.bean-card.mb .home-icon-item {
    border-radius: 7px;
}

.bean-card .home-item-name {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: $green-dark;
    margin-top: 13px;
}

.bean-card .home-item-sub {
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: $color-subtitle;
    margin-top: 5px;
}


.psn {
  .psnpc {
    margin-top: -20px;
    margin-bottom: -20px;
    text-align: center;
  }

  .pcdp {
    margin-bottom: 64px;
  }
}


/*************
 * COMING SOON
 *************/
.cms {
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img {
    margin-bottom: 21px;
  }
  div {
    color: #096503;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
  }
}


/*************
 * BEAN PAGE
 *************/
.bean-header {
    margin: 8px;
    margin-bottom: 24px;
}

.bri {
    margin-bottom: 50px;
}

.bean-avatar-wp {
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.09);
    border-radius: 50%;
    overflow: hidden;
    background: white;
    width: 110px;
    height: 110px;
    margin: auto;
    .bean-avatar {
        width: 100%;
        display:block;
        margin:auto;
        align-self: flex-start;
    }
}

.bean-info-wp {
    padding: 6px 10px;
    .bean-name {
        font-size: 18px;
        font-weight: 700;
        color: $green-dark;
        margin-bottom: 9px;
    }
    .bean-age, .bean-info {
        font-size: 14px;
        font-weight: 700;
        color: $color-subtitle;
        margin-bottom: 3px;
    }
}

.bean-line {
    margin-bottom: 15px;
    &:before {
        content: "";
        display: block;
        border-top: 3px solid #b3deaf;
        top: 12px;
        position: relative;
        z-index: -1;
    }
    span {
        font-size: 16px;
        margin-left: 24px;
        padding: 3px 12px;
        color: #ffffff;
        border: 1px solid #a1d69c;
        border-radius: 13px;
        background-color: #a1d69c;
    }
}

.bean-notification-wp {
    margin-bottom: 36px;
    .bean-notification {
        position: relative;
        .notification-title {
            text-align: left;
            font-size: 16px;
            font-weight: 700;
            padding-right: 104px;
        }
        .notification-time {
            position: absolute;
            top: 2px;
            right: 0;
            color: $color-subtitle;
            font-size: 13px;
            font-style: italic;
            font-weight: 500;
        }
        .notification-content {
            margin-top: 10px;
            text-align: justify;
            font-size: 14px;
            font-weight: 500;
        }
    }
}

.bean-feature-wp {
    margin-top: 28px;
    .bean-feature {
        text-align: center;
        .bean-feature-icon {
            width: 64px;
            height: 64px;
        }
        .bean-feature-title {
            margin-top: 10px;
            font-weight: 600;
            font-size: 16px;
        }
    }
}

/****************
 * GENERAL
 ****************/
.height-100 {
  height: 100%;
}

.loadingWp {
  z-index: 10;
  position: absolute;
  background: #f2f2f4;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.ldhidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.2s, opacity 0.2s linear;
}

.ldvisible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.1s linear;
}

.img-center-container {
  text-align: center;
  span {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
  }
}

/************
 * FAMILY TREE PAGE
 ************/
.page-ft .page__content {
  padding:0 !important;
}
.fmlt {
  .react-transform-wrapper, .react-transform-component {
    width: 100%;
    height: 100%;
  }
}

.fmlnw {
  position: absolute;
  display: flex;
  padding: 25px 10px;
  box-sizing: border-box;
  flex-direction: column;
  .fmln {
    display: flex;
    flex-direction: row;
    border: 2px solid #9e9e9e;
    border-radius: 6px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    height: 100%;
    background: white;

    .wimg {
      width: 38px;
      height: 38px;
      margin-right: 10px;
    }

    .wif {
      width: 90px;
      .e {
        font-size: 13px;
      }
    }
    .n {
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 5px;
    }

    &.sms {
      .wimg {
        width: 56px;
        height: 56px;
      }
      .wif {
        width: 71px;
        .e {
          font-size: 18px;
        }
        .n {
          font-size: 20px;
        }
      }
    }
  }

  &.unknown .fmln {
    border: 2px solid #9e9e9e;
    border-style: dashed;
    background: #f2f2f4;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #9e9e9e;
  }

  &.unknown .sht {
    border-color: #9e9e9e;
  }

  &.male .fmln {
    border-color: #81a6e8;
    background: #f7faff;
    &.root {
        box-shadow: 0px 0px 8px 5px #989cd0;
    }
  }

  &.female .fmln {
    border-color: #ca95b5;
    background: #fff8fe;
    &.root {
        box-shadow: 0px 0px 8px 5px #c798d0;
    }
  }

  &.male .sht {
    border-color: #81a6e8;
  }

  &.female .sht {
    border-color: #ca95b5;
  }

  .sht {
    height: 26px;
    width: 26px;
    background: #ffffff;
    position: absolute;
    right: 0;
    top: 16px;
    border-radius: 15px;
    text-align: center;
    border: solid 2px;
    img {
        width: 12px;
        margin-top: 7px;
    }
  }

}

.spuw {
    position: absolute;
    top: 44px;
    background: #75757561;
    height: calc(100% - 44px);
    width: 100%;

    .spu {
        position: absolute;
        top: 0px;
        width: 100%;
        background: #f5f5f5;
    }
}

/****************
 * RELATION PAGE
 ****************/
.dlg-rt {
  .dialog {
    width: 85%;
  }
  .dialog-container {
    .bss, .ld {
      margin-top: 10px;
    }

    .bss__select {
        max-height: 100px;
        overflow: scroll;
    }

    .dlrthd {
      padding: 10px;
      background: #004c06;
      color: white;
      font-size: 14px;
      font-weight: bold;

      .btap {
        text-align: center;
        float: right;
        font-size: 16px;
        margin-top: -4px;
        margin-right: -1px;
        padding: 2px;
        width: 20px;
        border: 1px solid #ffffff99;
        border-radius: 13px;
      }
    }

    .dl-action {
      text-align: center;
      margin-top: 16px;
    }
  }
  .fabsp {
    min-height: 45px;
  }
  .fab {
    text-align: center;
    padding-top: 13px;
    padding-bottom: 18px;
    position: absolute;
    bottom: 0;
    margin-left: -10px;
    width: 100%;
    background: #f4f4f4;
    box-shadow: 0px -2px 8px -2px rgba(0,0,0,0.5);
  }
}
.dlrtbd {
  padding: 10px;
  margin-bottom: 10px;
  max-height: 200px;
  overflow: scroll;
  .ldwp {
    position: relative;
    height: 71px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

}
.rtph {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  .bean-avatar-wp {
    margin: inherit;
    width: 36px;
    height: 36px;
    margin-left: 10px;
    margin-bottom: 0;
  }
  .rtpn {
    font-size: 14px;
    font-weight: 500;
    margin-left: 14px;
  }
}
.rtphsg {
    padding: 9px 4px;
    border-radius: 6px;
    border: 1px solid #d8d8d8;
    opacity: 0.5;
    position: relative;
    padding-right: 35px;

    &.atv {
        opacity: 1;
        background: #e5f1dd;
        border-color: #7c8e70;
    }

    .chck {
        position: absolute;
        right: 8px;
        font-size: 24px;
        color: #239a06;
    }
}
.rtpet {
  width: 56px;
  height: 56px;
  line-height: 56px;
  text-align: center;
  border: 2px dashed gray;
  border-radius: 30px;
  opacity: 0.5;
  cursor: pointer;
  margin-left: 8px;
  span {
    font-size: 37px;
    color: grey;
    display: block;
    width: 58px;
  }
}
.rthd {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 15px;
}
.rtwp {
  padding: 10px;
  white-space: nowrap;
  overflow: scroll;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  .rtpwp {
    margin-right: 22px;
    display: inline-block;
  }
}
.rtpwp {
  .bean-avatar-wp {
    width: 60px;
    height: 60px;
    z-index: -1;
    position: relative;
    box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.61);
  }
  .rtpn {
    padding: 5px 14px;
    font-size: 13px;
    font-weight: 700;
    border-radius: 5px;
    border: 1px solid;
    margin-top: -10px;
    box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.61);
  }

  &.male .rtpn {
    border-color: #81a6e8;
    background: #f7faff;
  }

  &.female .rtpn {
    border-color: #ca95b5;
    background: #fff8fe;
  }
      
}

/****************
 * PROFILE PAGE
 ****************/
.wftrl {
  min-height: 55px;
}

.ftrl {
  padding-top: 14px;
  width: 83%;
  margin: auto;
  margin-bottom: 25px;
  .t {
    font-weight: 600;
    margin-bottom: 9px;
  }
}
.pfh {
  padding-top: 5px;
  display: flex;
  justify-content: center;
  .bean-avatar-wp {
    width: 100%;
    height: auto;
  }
  .pf-icon {
    bottom: 0;
    right: 0;
    position: absolute;
    background: #8080808c;
    padding: 7px;
    height: 27px;
    width: 27px;
    text-align: center;
    border-radius: 22px;
  }
  & > div {
    position: relative;
    width: 33%;
    max-width: 160px;
  }
}
.pfb {

  margin-top: 30px;
  font-size: 16px;
  .pfiw {
    display: flex;
    width: 83%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    .pfit {
      font-weight: 600;
      min-width: 85px;
    }
    &.cb {
      margin-top: -14px;
      margin-bottom: 0px;
      .pfic {
        display: flex;
        justify-content: space-between;
      }
    }
  }
  .pfbf {
    margin-top: 30px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
}

/****************
 * VACCINE PAGE
 ****************/
.search-vaccine {
    width: calc(100% - 30px);
    padding: 0px 15px 10px;
    background: white;
    position: fixed;
    z-index: 1;
    .search-input {
        font-size: 16px;
        height: 34px;
    }
}

.vaccine-create-dialog {
    .dialog {
        width: 80%;
        .dl-header {
            padding: 10px 20px;
            border-bottom: 1px solid #e8e8e8;
            background: white;

            .text-input {
                font-size: 17px;
                font-weight: 700;
                font-family: 'Quicksand', sans-serif;
                color: $green-dark;
            }
            .tw {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 14px;
            }
            .t {
                font-weight: bold;
                font-size: 18px;
            }
        }
        .dlbd {
          padding: 10px 20px;
          .itw {
            padding: 15px 0px;
            border-bottom: 1px solid #d6d6d6;
            .tt {
              font-weight: 500;
            }
            &:last-child {
                border: 0;
                margin-bottom: 10px;
            }
          }
          .its {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
          .btac {
            text-align: center;
            margin: 20px 0px 10px;
          }
        }
        .dlbdb {
            padding-top: 24px;
        }
        .timeline {
            margin-top: 15px;
            margin-bottom: 23px;
            .timeline-event {
                padding: 2px 10px;
                width: calc(80% - 43px);
                .vaccine-date-input {
                    width: 100%;
                    .text-input {
                        font-size: 16px;
                        font-weight: 600;
                        font-family: 'Quicksand', sans-serif;
                    }
                }
                .vaccine-delete-date-wp {
                    position: absolute;
                    top: calc(50% - 16px);
                    right: -25px;
                    font-size: 26px;
                    color: #bf6565;
                }

                &.vaccine-add-date {
                    background: #fff;
                    border: 1px dashed;
                    &:before {
                        border-color: #4186495e;
                    }
                    .vaccine-add-date-button {
                        text-align: center;
                        color: #a0a0a0;
                        margin: 4px;
                    }
                }

                .hd-button {
                    position: absolute;
                    top: calc(50% - 13px);
                    left: -33px;
                    width: 26px;
                    height: 25px;
                }
            }
        }
    }
}

.vaccine-list {
    background: transparent;
    margin-top: 52px;
    .vaccine-item-wp {
        background: none;
        padding-left: 0px;
        .list-item__center {
            padding: 0px;
            min-height: 75px;
        }
        .list-item__right {
            display: none;
        }

        .tbrcrs {
            width: 100%;
            .tbritm {
                width: calc(100% - 12px) !important;
                border-radius: 4px;
                margin: 6px 6px;
                height: calc(100% - 12px);
                &.mi {
                    & > div.success {
                      background: #ecffef;
                    }
                    .item-label {
                        justify-content: space-between;
                        .item-title {
                            font-size: 16px;
                            font-weight: 700;
                            color: $green-dark;
                        }
                        .item-subinfo {
                            font-size: 12px;
                            color: $color-subtitle;
                            font-weight: 700;
                            margin-top: 6px;
                        }
                        .item-info {
                            font-size: 15px;
                            font-style: italic;
                        }
                        .item-status {
                            text-align: right;
                        }
                        .item-success {
                            color: #32a278;
                            display: flex;
                            justify-content: center;
                        }
                        .wp {
                            max-width: calc(100% - 100px)
                        }
                    }
                }
            }
        }
    }

    .expandable-content {
        padding: 0;
        margin-bottom: 20px;
        margin-top: -5px;
    }
}

/************
 * TABLE ROW
 ************/
.tbrcrs {
  width: 100%;
  .tbritm {
      width: calc(100% - 12px) !important;
      border-radius: 4px;
      margin: 6px 6px;
      height: calc(100% - 12px);
      &.mi {
          background: white;
          & > div {
            width: 100%;
            height: 100%;
            border-radius: 4px;
          }
      }
      &.ri {
          font-size: 16px;
          color: white;
          height:auto;
          background: linear-gradient(90deg, rgba(81,123,235,0.5438550420168067) 0%, rgba(255,255,255,0) 100%);
      }
      &.li {
          font-size: 16px;
          color: white;
          height: auto;
          background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(235,81,81,0.5998774509803921) 100%);
          .item-label {
              justify-content: flex-end;
          }
      }

      .item-label {
          display: flex;
          align-items: center;
          height: calc(100% - 12px);
          padding: 6px 11px;

          .action {
              font-weight: bold;
              font-size: 16px;
              padding: 0px 10px;
          }
          .icon {
              font-size: 23px;
          }
      }
  }
}

/************
 * TIMELINE
 ************/
.oneyear {
    margin-bottom: -10px;
    padding-bottom: 10px;
    .y {
        text-align: center;
        margin-bottom: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        background: #f2f2f4;
        position: sticky;
        top: 0px;
        z-index: 1;
        font-size: 18px;
        font-weight: bolder;
        box-shadow: 0px 5px 4px 0px rgba(#000, 0.23)
    }
}

.timeline {
    z-index: 0;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        height: calc(100% + 25px);
        width: 1px;
        background-color: #d6ded6;
        left: 10%;
        margin-top: -15px;
    }

    &:first-child {
        margin-top: 15px;
    }

    .timeline-event {
        font-size: 12px;
        font-weight: 600;
        border: 1px solid #4186497a;
        margin-bottom: 10px;
        background-color: #fff;
        color: #777;
        padding: 9px;
        width: calc(80% - 20px);
        position: relative;
        border-radius: 4px;
        box-sizing: border-box;
        transition: all 0.3s ease-in-out;
        margin-left: calc(10% + 20px);
        &.green:before {
            background-color: #8dd461;
        }
        &:before {
            content: "";
            position: absolute;
            top: calc(50% - 8px);
            left: -27px;
            width: 9px;
            height: 9px;
            border-radius: 50%;
            border: 2px solid #418649;
            background-color: #fff;
        }
        .wp {
            display: flex;
            .event-date {
                text-align: center;
                padding: 5px 10px 5px 5px;
                border-right: 2px solid #7d9282;
                margin: 0px 10px 0px 0px;
                min-width: 58px;
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;
                .d {
                    font-size: 22px;
                    margin-bottom: 1px;
                    font-weight: 500;
                }
                .m {
                    font-size: 13px;
                    font-weight: lighter;
                }
            }
            .event-content {
                display: flex;
                flex-flow: column;
                justify-content: center;
                font-size: 12px;
                padding: 10px 0px 10px 10px;
            }
        }
    }
}

/**********
 * WELCOME PAGES
 ***********/
.mpw {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #f2f2f4;
  padding-bottom: 5px;
  padding-top: 5px;
  .bean-avatar-wp {
    width: 50px;
    height: 50px;
    margin-left: 0;
  }
  .nw {
    width: calc(100% - 83px);
    .n {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 2px;
    }
  }
  .o {
    min-width: 20px;
    color: #2abfc3;
  }
}

/**********
 * WELCOME PAGES
 ***********/
.wctb {
  font-size: 27px;
}
.wcts {
  font-size: 16px;
  color: #739072;
}
.wcbg {
  position: absolute;
  width: 100%;
  height: 100%;
  .ct {
    position: relative;
    top: 12%;
    width: 100%;
    text-align: center;
    .bg {
      width: 100%;
      height: 280px;
    }
    .cv {
      width: 82%;
    }
    .wcv {
      display: inline-block;
      top: -240px;
      max-width: 320px;
      position: relative;
    }
    .tpr {
        position: absolute;
        width: 100%;
        height: 140px;
        top: 280px;
        background: rgba(238,255,237, 1);
        background: linear-gradient(180deg, rgba(238,255,237,1) 0%, rgba(255,255,255,0) 100%);
    }
    .an {
      display: inline-block;
      justify-content: space-around;
      position: relative;
      top: -265px;
      width: 100%;
      letter-spacing: 2px;
      .fp {
        display: inline-block;
        margin-right: 14px;
      }
      .lp {
        display: inline-block;
        font-weight: bold;
        color: #3abd37;
        text-decoration: underline;
      }
    }
    .desc {
      position: relative;
      top: -248px;
    }
  }
}

.pwp .page__background {
    background-color: #fff;
}

.ownpb, .pcwp {
  .p {
    width: calc(72% + 22px);
    margin: auto;
    position: relative;
    span {
      color: #739072;
      position: absolute;
      z-index: 1;
      top: 8px;
      left: 18px;
    }
  }
}
.ownpb {
  position: absolute;
  top: 17%;
  width: 100%;
  .form {
    margin-top: 65px;
    margin-bottom: 54px;
  }
  .bip {
    input, select {
      padding-left: 46px;
      background-color: #f5fcf4;
      margin-bottom: 19px;
      font-size: 15px;
      border: 0;
    }
    &.df select{
      color: #999999;
    }
  }
  .wctb, .wcts {
    margin-bottom: 16px;
  }
  .wner {
    font-size: 13px;
    margin-bottom: 12px;
    color: red;
  }
}

.pcwp {
  padding-top: 12%;
  .desc {
    text-align: center;
    margin-bottom: 37px;
    color: #739072;
    font-size: 16px;
    font-weight: 500;
  }
  .pcit {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #739072;
    & > div {
      position: relative;
      text-align: center;
      font-size: 24px;
      font-weight: 400;
      width: 30%;
      padding-top: 18px;
      padding-bottom: 18px;
    }
  }
}

.pcdp {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  .cc {
    width: 10px;
    height: 10px;
    border: solid 2px #808080;
    border-radius: 7px;
    margin: 0px 10px;
    &.f {
      background-color: #808080;
    }
  }
}

.ftct {
  position: absolute;
  bottom: 85px;
  width: 100%;
}
.btsi {
  margin: auto;
  width: 72%;
  background: #3abd37;
  text-align: center;
  padding: 11px;
  color: white;
  font-weight: 600;
  font-size: 17px;
  border-radius: 7px;
  cursor: pointer;
  margin-bottom: 13px;
}
.btsu {
  font-size: 17px;
  font-weight: 600;
  color: #739072;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.lgft {
  position: absolute;
  width: 100%;
  height: 152px;
  bottom: 0;
  z-index: -1;
  img {
    width: 100%;
    height: 100%;
  }
}

.ownp {
    background-color: white;
    .ownhd {
        height: 135px;
    }
    .pfh {
      margin-top: 32px;
      margin-bottom: -23px;
      & > div {
        max-width: 100px;
      }
    }
}


.datepicker-modal {
    z-index: 30000 !important
}

/**********
 * SLIDER
 ***********/
.brange {
  width: 100%;
  .brctn {
    height: 24px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .brb {
    height: 2px;
    width: 100%;
    border-radius: 1px;
    align-self: center;
    position: relative;
    .brc {
      height: 14px;
      width: 14px;
      border-radius: 7px;
      background-color: #185f1d;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 0px 2px #AAA;
      outline: none;
      &:active {
        height: 16px;
        width: 16px;
        border-radius: 8px;
        box-shadow: 0px 0px 0px 8px rgba(0,153,46,0.28);
      }
    }
  }
}

/**********
 * CROP DIALOG
 ***********/

.dlc {
  .dialog {
    height: 468px;
    width: 80%;
  }
  .dialog-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .dlcrc {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 17px;
    .brange {
      width: 70%;
      margin-left: 18px;
    }
    img {
      height: 16px;
      opacity: 0.85;
    }
    .range--material__input {
      background-image: linear-gradient(#4ac73b, #46b729);
    }
  }
}
.crbc {
    width: 100%;
    height: 300px;
    position: relative;
    background: #333;
}

/**********
 * TOAST
 ***********/
.toast {
    bottom: 30px;
    background: #737373f2;
    left: 50%;
    right: auto;
    transform: translate(-50%, -50%) !important;
    border-radius: 17px;
    padding: 7px 22px;
    min-height: 0;

    .toast__message {
        text-align: center;
        margin: 0px;
        color: #eaeaea;
        font-size: 13px;
        font-family: 'Quicksand', sans-serif;
    }
}

/**********
 * INPUT
 ***********/
.bip {
  padding: 0px;
  font-family: 'Quicksand', sans-serif;
  input, select {
    border: 1px solid #e2e2e2;
    padding: 0px 10px;
    border-radius: 4px;
    height: 36px;
    -webkit-appearance:none;
    font-size: 16px;
  }
  input:disabled {
    opacity: 1
  }
  input:invalid {
    border: 1px solid #e2e2e2;
  }
  &.error input {
    border-color: red;
  }
}

.bss {
  .bss__input {
    width: calc(100% - 22px);
    font-weight: 500;
  }
  .bss__options {
    list-style-type: none;
    padding: 10px;
    background: white;
    margin: 0;
    border: 1px solid #efefef;
    border-top: 0px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    button {
      border: 0;
      background: none;
      padding: 0;
      width: 100%;
    }
  }
}

.brdot {
  line-height: 22px;
}

:checked + .checkbox__checkmark:before {
  background: #37880e;
}

.checkbox {
  .checkbox__checkmark {
    &:before {
      width: 18px;
      height: 18px;
      border-radius: 18px;
    }
    &:after {
      top: 5px;
      left: 4px;
      width: 9px;
      height: 4px;
    }
  }
}
.cblb {
  font-size: 12px;
  font-weight: 500;
  top: -3px;
  position: relative;
}

.switch {
  min-width: 47px;
  width: 47px;
  height: 29px;
  .switch__handle {
    border-radius: 24px;
    height: 24px;
    width: 24px;
    .switch__touch {
      top: -3px;
      bottom: -3px;
      left: -8px;
      right: -8px;
    }
  }
}



/**********
 * DIALOG - BUTTON
 ***********/
.ripple-btn {
  position: relative;
}
.ripple-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.ripple-obj {
  height: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  fill: rgba(110,218,100,.3);
}

.bean-btn {
  border: 1px solid;
  padding: 7px 17px;
  outline: none;
  cursor: pointer;
  background: none;
  transition: .5s;
  font-size: 15px;
  border-radius: 5px;
  font-family: 'Quicksand', sans-serif;

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover, &:active {
    color: white;
    font-size: 15px;
  }

  &.green {
      border-color: #65a768;
      color: #65a768;
      &:hover, &:active {
          color: white;
          background-color: #65a768;
      }
  }

  &.red {
      border-color: #ff9133;
      color: #ff9133;
      &:hover, &:active {
          color: white;
          background-color: #ff9133;
      }
  }
}

.dl-wrapper {
  padding: 24px 30px;
  .dl-icon {
      text-align: center;
      margin-bottom: 16px;
      span {
        color: #409a43;
        font-size: 29px;
      }
  }

  .dl-content {
      text-align: center;
      font-family: 'Quicksand', sans-serif;
      font-weight: bolder;
      color: #525252;
      font-size: 15px;
      margin-bottom: 21px;
  }
}

/**********
 * FLOATING MENU
 ***********/

.mn-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}
.mn-it {
  width: 40px;
  height: 40px;
  z-index: 3;
  text-align: center;
  line-height: 42px;
  border-radius: 20px;
  position: absolute;
  box-shadow: 0px 0px 8px 4px rgba(179,179,179,0.56);
  transition: all 0.2s ease;
}





